@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}

/* Login & Register Pages */
.auth {
  @apply h-screen w-full bg-cover bg-center;
  background-image: url("/assets/netflix.jpg");
}

.overlay {
  @apply h-screen w-full bg-black bg-opacity-60 flex items-center justify-center;
}

.content {
  @apply w-1/3 py-7 px-4 max-sm:w-5/6 max-lg:w-2/3 max-xl:w-1/2 flex flex-col items-center justify-center gap-6 bg-transparent border-2 border-white border-opacity-20 backdrop-filter backdrop-blur-lg shadow-md rounded-3xl;
}

.logo {
  @apply w-48;
}

.form {
  @apply flex flex-col items-center gap-5;
}

.input {
  @apply flex items-center justify-between px-5 py-3 rounded-2xl border-2 border-white border-opacity-15 shadow-2xl;
}

.input-field {
  @apply sm:min-w-[300px] bg-transparent text-white outline-none;
}

.error {
  @apply text-pink-1 max-w-[380px] text-center;
}

.button {
  @apply w-full px-5 py-3 mt-5 mb-7 rounded-xl cursor-pointer bg-pink-2 hover:bg-pink-1 text-white text-body-bold;
}

.link {
  @apply text-base-medium text-center text-white hover:text-pink-1;
}

/* Navbar */
.navbar {
  @apply top-0 z-10 sticky flex items-center justify-between py-3 px-10;
}

.nav-links {
  @apply flex gap-8 max-md:hidden;
}

.nav-link {
  @apply text-white text-heading3-bold cursor-pointer hover:text-pink-1;
}

.nav-right {
  @apply flex gap-8 items-center;
}

.profile {
  @apply w-8 h-auto cursor-pointer;
}

.icon {
  @apply size-7 cursor-pointer text-white hover:text-pink-1;
}

.dropdown-menu {
  @apply absolute top-20 p-3 flex flex-col gap-3 right-5 z-20 w-32 bg-white rounded-xl;
}

.dropdown-menu > a {
  @apply text-base-bold text-black-1 hover:text-pink-1 cursor-pointer;
}

.search {
  @apply flex justify-between items-center gap-2 px-4 py-2 rounded-xl;
}

.input-search {
  @apply w-40 bg-transparent outline-none text-body-medium text-white;
}

/* Hero */
.hero-bg {
  @apply absolute top-0 left-0 -z-10 h-screen w-screen;
}

.hero-bg-image {
  @apply object-cover h-full w-full;
}

.overlay {
  @apply absolute inset-0 bg-gradient-to-b from-transparent to-black-1;
}

.hero {
  @apply flex flex-col px-10 pt-20 gap-10 max-w-xl;
}

.hero-title {
  @apply text-heading1-bold text-white;
}

.hero-overview {
  @apply text-base-medium text-white;
}

.hero-btns {
  @apply flex gap-8;
}

.hero-btn {
  @apply flex items-center justify-center gap-1.5 px-4 py-3 rounded-xl cursor-pointer bg-white text-body-bold hover:bg-pink-1 hover:text-white;
}

/* All movies */
.all-movies {
  @apply flex flex-col gap-8 mt-16 pl-10;
}

/* Category */
.category {
  @apply flex flex-col gap-4;
}

.category-title {
  @apply text-heading3-bold text-white;
}

.movie-list {
  @apply flex gap-2 overflow-x-scroll scrollbar-hide;
}

/* Movie */
.movie-card {
  @apply relative h-24 min-w-48 sm:h-32 sm:min-w-60 md:h-36 md:min-w-72 cursor-pointer hover:outline-white;
}

.thumbnail {
  @apply object-cover w-full h-full rounded-lg;
}

.border {
  @apply absolute inset-0 rounded-lg border-4 border-transparent hover:border-white;
}

/* Modal */
.modal {
  @apply fixed inset-0 z-30 bg-black-1 bg-opacity-95 w-full max-w-2xl mx-auto overflow-hidden overflow-y-scroll scrollbar-hide rounded-xl;
}

.modal-close {
  @apply absolute right-5 top-5 z-40;
}

.modal-video {
  @apply top-0 left-0 w-full h-3/5;
}

.modal-content {
  @apply flex flex-col gap-3 p-6 text-white;
}

/* My List */
.list {
  @apply flex items-center justify-center gap-6 lg:gap-10 flex-wrap px-3 sm:px-6 md:px-10 py-20;
}

/* Search Page */
.search-page {
  @apply flex flex-col py-16 px-10;
}
